body {
    background-color: black;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    font-size: 20px;
}

a {
    display: inline-block;
    text-align: center;
    background-color: black;
    color: antiquewhite;
    position: sticky;
    margin: 10px 0;
    text-decoration: none;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}


.to_do, .e_commerce, .library {
    display: grid auto;
}

.to_do {
    grid-row: 1 2;
    text-align: center;
    margin-top: 25px;
}

.e_commerce {
    grid-column: 2 3;
    text-align: center;
    margin-top: 50px;
}

.library {
    grid-column: 3 4;
    text-align: center;
    margin-top: 50px;
}

.to_do p {
    margin: 5px 10px;
}

.e_commerce p {
    margin: 5px 10px;
}

.library p {
    margin: 5px 10px;
}

div a{
    text-decoration: underline;
}

a:hover {
    color: purple;
}