body {
    background-color: black;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
    font-size: 20px;
}

a {
    display: inline-block;
    text-align: center;
    background-color: black;
    color: antiquewhite;
    position: sticky;
    margin: 10px 0;
    text-decoration: none;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.info {
    margin-left: 25px;
}

a:hover {
    color: purple;
}